﻿@using Fintech.Entity
@model System.Collections.Generic.List<Banks>
@{
    ViewBag.Title = "Index";
}
<style>
    .text-center {
        text-align: center !important;
    } 

    td a {
        cursor: pointer;
        margin: 5px;
    }

    td a i.glyphicon-trash {
        color: red;
    }

    td a i.glyphicon-edit {
        color: green;
    } 
</style>
<div ng-controller="ctrl">
    <h2>Index</h2>
    <div style="width: 500px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Bank ID</th>
                    <th>Bank Name</th>
                    <th>Head Office</th>
                    <th>Contact Name</th>
                    <th>Account ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td></td>
                        <td>@b.BankID</td>
                        <td>@b.BankName</td>
                        <td>@b.HeadOffice</td>
                        <td>@b.ContactName</td>
                        <td>@b.AccountID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="width: 500px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in contacts track by c.id">
                    <td>
                        <a ng-click="view(c)"><i class="glyphicon glyphicon-search"></i></a>
                        <a ng-click="edit(c, $index)"><i class="glyphicon glyphicon-edit"></i></a>
                        <a ng-click="remove($index)"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                    <td ng-bind="c.id"></td>
                    <td ng-bind="c.name"></td>
                    <td ng-bind="c.phone"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button ng-click="addContact()" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
    </div>

    <div id="contact-detail" class="modal fade">
        <div class="modal-dialog">
            <form name="form1" #form1>
                <div class="modal-content">
                    <div class="modal-header">
                        Contact Detail
                        <span class="close" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 control-label">ID</div>
                                <div class="col-md-6">
                                    <input ng-model="contact.id" type="text" name="id" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">Name</div>
                                <div class="col-md-6">
                                    <input ng-disabled="inpDisable" ng-model="contact.name" type="text" name="name" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 control-label">Phone</div>
                                <div class="col-md-6">
                                    <input ng-disabled="inpDisable" ng-model="contact.phone" type="text" name="phone" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Image</div>
                                <div class="col-md-6">
                                    <img id="picture" ng-src="{{imgSource}}" alt="Alternate Text" style="width: 300px; height: 240px;" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3 control-label">File Upload</div>
                                <div class="col-md-6">
                                    <input id="img1" ng-disabled="inpDisable" style="display: none" 
                                           onchange="angular.element(this).scope().fileChange(this)" type="file" name="phone" class="form-control" />
                                    <label for="img1" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-picture"></i> Select Image
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button class="btn btn-default" type="button" data-dismiss="modal">
                            <i class="glyphicon glyphicon-remove"></i> Close
                        </button>
                        <button ng-show="!inpDisable" ng-disabled="form1.$invalid" class="btn btn-primary" type="button" ng-click="save()">
                            <i class="glyphicon glyphicon-save"></i> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        (function () {
            var app = angular.module('app');
            app.controller('ctrl', ctrl);

            function ctrl($scope, $http) {
                var sc = $scope;
                var state = '';
                var index = -1;
                sc.title = 'List Contact';
                sc.imgSource = "";

                sc.contact = {} 
                sc.inpDisable = false; 
                sc.contacts = angular.fromJson(atob(localStorage.getItem('contacts') || '') || "[]"); ;  

                sc.addContact = function () {
                    sc.inpDisable = false;
                    state = 'new';
                    index = -1;
                    sc.contact = {};
                    clearError();
                    $("#contact-detail").modal();
                }

                sc.view = function (c) {
                    sc.inpDisable = true;
                    sc.contact = angular.copy(c);
                    clearError();
                    $("#contact-detail").modal();
                }

                sc.edit = function (c, i) { 
                    sc.inpDisable = false;
                    state = 'edit';
                    index = i;
                    sc.contact = angular.copy(c);
                    clearError();
                    $("#contact-detail").modal();
                }

                sc.remove = function (i) {
                    sc.contacts.splice(i, 1);
                    localStorage.setItem('contacts', btoa(angular.toJson(sc.contacts)));
                }

                sc.save = function () {
                    var count = sc.contacts.length;
                    var id = 1;
                    if (count > 0) {
                        id = sc.contacts[count - 1].id + 1;
                    }
                    var c = angular.copy(sc.contact); 
                    if (state === 'new') {
                        c.id = id;
                        sc.contacts.push(c);
                    } else {
                        sc.contacts[index] = c;
                    }
                    sc.contact = {};
                    localStorage.setItem('contacts', btoa(angular.toJson(sc.contacts)));
                    $("#contact-detail").modal('hide');
                }

                sc.fileChange = function (e, img) { 
                    if (e.files.length > 0) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            sc.imgSource = e.target.result;
                            sc.$apply();  
                        }
                        reader.readAsDataURL(e.files[0]);
                    }
                    
                }
                
                
            }

            function validateInput(e) {
                var inp = e.target; 
                var span = inp.parentElement.querySelector('span');
                if (span) { $(span).remove(); inp.parentElement.classList.remove('has-error'); }
                if (!inp.checkValidity()) { 
                    span = document.createElement('span');
                    span.style.color = 'red';
                    span.textContent = inp.validationMessage;
                    inp.parentElement.appendChild(span); 
                    inp.parentElement.classList.add('has-error');
                }
            }

            function clearError() {
                $("input[type='text']").each(function (i, e) {
                    var span = e.parentElement.querySelector('span');
                    if (span) { $(span).remove(); e.parentElement.classList.remove('has-error'); }
                })
            }
            function clearErrorInput(e) {
                var inp = e.target; 
                var span = inp.parentElement.querySelector('span');
                if (span) { $(span).remove(); inp.parentElement.classList.remove('has-error'); }
            }
            var nodeList = document.querySelectorAll("input[type='text']");
            var inputs = Array.prototype.slice.call(nodeList);
            inputs.forEach(function (item) { item.onblur = validateInput; item.onkeypress = clearErrorInput; });
        }());
    </script>
}